@use "functions" as *;
@use "variables" as *;
@use "font" as *;

@mixin flex-centering() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin grid-centering() {
  display: grid;
  justify-content: center;
  align-items: center;
}

@mixin max-width($size) {
  width: 100%;
  max-width: $size;
}

@mixin custom-tip-font($warna) {
  text-align: center;
  font-size: rem(20);
  font-weight: 700;
  color: $warna;
  font-family: $base-font;
}
