@use "../utils" as *;

.container {
  @include max-width(rem(828));
  display: flex;
  background: $white;
  border-radius: $base-border-radius-18;

  @include breakpoint-max(md) {
    flex-direction: column;
    width: fit-content;
    margin-bottom: rem(70);
  }
}
