@use "../utils" as *;

.logo {
  @include max-width(rem(74));
  font-size: rem(24);
  line-height: rem(36);
  letter-spacing: 0.205em;
  margin-bottom: rem(60);

  @include breakpoint-max(md) {
    margin: rem(40) auto;
  }
}
